{% extends "base.html" %}
{% load static %}
{% block css %}
  


<style>
    
    .call-to-action{
        margin-top: 0px ;
       }

       @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }
        
        .number-input input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
        }
        
        .number-input input[type=number]::-webkit-inner-spin-button,
        .number-input input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        }
        
        .number-input button {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        position: relative;
        }
        
        .number-input button:before,
        .number-input button:after {
        display: inline-block;
        position: absolute;
        content: '';
        height: 2px;
        transform: translate(-50%, -50%);
        }
        
        .number-input button.plus:after {
        transform: translate(-50%, -50%) rotate(90deg);
        }
        
        .number-input input[type=number] {
        text-align: center;
        }
        
        .number-input.number-input {
        border: 1px solid #ced4da;
        width: 10rem;
        border-radius: .25rem;
        }
        
        .number-input.number-input button {
        width: 2.6rem;
        height: .7rem;
        }
        
        .number-input.number-input button.minus {
        padding-left: 10px;
        }
        
        .number-input.number-input button:before,
        .number-input.number-input button:after {
        width: .7rem;
        background-color: #495057;
        }
        
        .number-input.number-input input[type=number] {
        max-width: 4rem;
        padding: .5rem;
        border: 1px solid #ced4da;
        border-width: 0 1px;
        font-size: 1rem;
        height: 2rem;
        color: #495057;
        }
        
        @media not all and (min-resolution:.001dpcm) {
        @supports (-webkit-appearance: none) and (stroke-color:transparent) {
        
        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
        margin-top: -.3rem;
        }
        }
        }
        
        .shopping-cart .def-number-input.number-input {
        border: none;
        }
        
        .shopping-cart .def-number-input.number-input input[type=number] {
        max-width: 2rem;
        border: none;
        }
        
        .shopping-cart .def-number-input.number-input input[type=number].black-text,
        .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
        .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
        .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
        color: #212529 !important;
        }
        
        .shopping-cart .def-number-input.number-input button {
        width: 1rem;
        }
        
        .shopping-cart .def-number-input.number-input button:before,
        .shopping-cart .def-number-input.number-input button:after {
        width: .5rem;
        }
        
        .shopping-cart .def-number-input.number-input button.minus:before,
        .shopping-cart .def-number-input.number-input button.minus:after {
        background-color: #9e9e9e;
        }
        
        .shopping-cart .def-number-input.number-input button.plus:before,
        .shopping-cart .def-number-input.number-input button.plus:after {
        background-color: #4285f4;
        }
       .contry{
        overflow-x: scroll;
        white-space: nowrap;
       }
       .basket_product{
       width: 100%;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;
     
       }
       .input-style {
        padding: 5px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        color: #555;
        outline: none;
      }
      
      .input-style:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
      
    </style>




{% endblock css %}
{% block body %}
<section class=" BasketUser" >
  <div class="container h-100 py-5  ">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col ">
        <div class="card shopping-cart   " style="border-radius: 15px;">
          <div class="card-body text-black">

            <div class="row">
              <div class="col-lg-7 px-5 py-4 contry ">

                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>
               
               {% if bask %}
                 
               <form action="" method="POST">
                 {% csrf_token %}
               {% for i in bask %}
               
               <div class="d-flex align-items-center mb-5 basket_product ">
                 <div class="flex-shrink-0">
                   <img src="{{ i.tuors.img.url }}"
                     class="img-fluid" style="width: 150px; border-radius: 15px;" alt="Generic placeholder image">
                 </div>
               
                   
                 <div class="flex-grow-1 ms-3">
                   <a href="{% url 'BasketUser_delete' i.id %}" class="float-end text-black btn  btn-danger text-white">tour canceled</a>
                   <h5 class="text-primary">{{ i.tuors.header }}</h5>
                   <h6 style="color: #9e9e9e;">Continent: {{ i.tuors.continents }}</h6>
                   <div class="d-flex align-items-center">
                     <p class="fw-bold mb-0 me-5 pe-3">Price:${{ i.tuors.price }}</p>
                     <p>Traveller :: </p>
                     <div class="def-number-input number-input safari_only ">
                       
                       <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                         class="minus"></button>
                       <input class="quantity fw-bold text-black" min="0" name="quantity {{ i.id }}" value="{{ i.quanity }}"
                         type="number">
                       <button  type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                         class="plus"></button>
                     </div>
                   </div>
                 </div>
                
               </div>
              
               {% endfor %}
               <button type="submit" name="button" class="btn btn-primary"  value="edit" > düzenle</button>
               <div class="d-flex justify-content-between px-x">
                 <p class="fw-bold">Discount:</p>
                 <p class="fw-bold">95$</p>
               </div>
               <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                 <h5 class="fw-bold mb-0">Total:</h5>
                 <h5 class="fw-bold mb-0"> ${{ total }} </h5>
               </div>
            
             </form>
               {% else %}
               <div class="div text-center">
                {% if ödeme %}
                <p>{{ ödeme }}</p>
                {% else %}
                <h6 class="text-secondary">
                  No Reservations</h6>
                  
                {% endif %}
                
                </div>
               {% endif %}
               
           
                 
              
           

              </div>
              <div class="col-lg-5 px-5 py-4">

                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>

                <form class="mb-5" method="POST">
                  {% csrf_token %}

                  <div class="form-outline mb-5">
                    {% for i  in userinfos  %}
                
                    <h3 class="">Total Balance :   {{ i.balance }} </h3>
                    {% endfor %}
                     
                  </div>
                   
           

               
                    <input placeholder="Add Balance" class="input-style mb-3 w-100" type="text" name="balance" >

          

                  <button type="submit" name="button" class="btn btn-primary btn-block btn-lg" value="balance" >Bakiye ekle</button>
                  <button type="submit" name="button" class="btn btn-primary btn-block btn-lg buynows" value="buynow" >satınal</button>

                 

                </form>
             <p class="text-danger" >{{ hata }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>

   




{% endblock body %}
{% block js %}
<script>
  var inputValue = "";
  
  function clearInputValue(input) {
    if (input.value === "Yazı ekleyin") {
      inputValue = input.value;
      input.value = "";
    }
  }
  
  function restoreInputValue(input) {
    if (input.value === "") {
      input.value = inputValue;
    }
  }
  </script>
{% endblock js %}