{% extends "base.html" %}
{% load static %}
{% block body %}
  
<section id="section-1">
  <div class="content-slider">
    <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
    <input type="radio" id="banner2" class="sec-1-input" name="banner">
    <input type="radio" id="banner3" class="sec-1-input" name="banner">
    <input type="radio" id="banner4" class="sec-1-input" name="banner">
    <div class="slider">
      <div id="top-banner-1" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
            <h1>Caribbean</h1>
            <div class="border-button"><a href="about.html">Go There</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Population:</span><br>44.48 M</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Territory:</span><br>275.400 KM<em>2</em></h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>AVG Price:</span><br>$946.000</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a href="about.html">Explore More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-2" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
            <h1>Switzerland</h1>
            <div class="border-button"><a href="about.html">Go There</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Population:</span><br>8.66 M</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Territory:</span><br>41.290 KM<em>2</em></h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>AVG Price:</span><br>$1.100.200</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a href="about.html">Explore More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-3" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
            <h1>France</h1>
            <div class="border-button"><a href="about.html">Go There</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Population:</span><br>67.41 M</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Territory:</span><br>551.500 KM<em>2</em></h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>AVG Price:</span><br>$425.600</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a href="about.html">Explore More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top-banner-4" class="banner">
        <div class="banner-inner-wrapper header-text">
          <div class="main-caption">
            <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
            <h1>Thailand</h1>
            <div class="border-button"><a href="about.html">Go There</a></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-user"></i>
                      <h4><span>Population:</span><br>69.86 M</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-globe"></i>
                      <h4><span>Territory:</span><br>513.120 KM<em>2</em></h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <i class="fa fa-home"></i>
                      <h4><span>AVG Price:</span><br>$165.450</h4>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-6">
                      <div class="main-button">
                        <a href="about.html">Explore More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="controls">
        <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
        <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
        <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
        <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
      </div>
    </nav>
  </div>
</section>
<section class="section-2">
  <div class="container">
      <div class="row">
          <div class="col-sm-5 ">
              <h2>Visit intercontinental</h2>
              <p>Explore continent countries and cities all over the world with woox</p>
              <hr>
          </div>
          <!-- <div class="contents mt-5 p-5  "  >
            <div class="row ">
             
              <div class="col-md-3 ">
                <div class="image-contents ">
                  <img src="{% static 'img/amerika.jpg'  %}"  alt="">
                 </div>
                </div>
                <div class="col-md-6 const  ">
                  <div class="row">
                    <div class="col-md-12     ">
                     <div class="contess justify-content-between  ">
                       <h3 class="mt-3 " >North American Continent</h3>
                       <div class="main-button mt-2 ">
                         <a  href="about.html">Explore More</a>
                       </div>
                        
                    </div>
                    <p class="mt-1  myParagraphs" >
                      
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fuga culpa voluptatibus adipisci eligendi maiores quibusdam labore aliquam! Natus incidunt laudantium temporibus expedita explicabo repellendus pariatur in necessitatibus ut id?
                        Quos explicabo expedita nemo? Voluptas enim modi laborum ipsa reprehenderit tenetur, natus officiis neque libero ratione quasi magnam quibusdam soluta possimus totam est! Tenetur iure magnam aliquid culpa minima. Pariatur.
                        Quod reiciendis laborum sapiente, qui fugit cum quo velit. Dicta temporibus laborum reprehenderit? Ea voluptas molestias ipsa sequi nobis quae eius error iusto velit iure nulla, veniam perspiciatis eum possimus?
                        Perferendis tempore, reprehenderit magni veniam natus veritatis aperiam suscipit recusandae maxime nostrum officiis ea iusto temporibus quis unde tempora voluptatum aut, dolor corrupti eaque minima delectus? Corrupti quo eveniet aspernatur.
                        Nostrum repellendus nesciunt voluptatem beatae laborum, eaque corrupti mollitia recusandae soluta odit consequatur vel. Inventore officiis optio facere quos nobis, ducimus voluptatibus eveniet odit cupiditate explicabo veritatis esse iusto error?
                        Quidem ex eos aliquam quis ea hic corrupti! Maxime optio natus quibusdam alias beatae neque culpa adipisci sint odit modi sapiente ad, sequi eum labore? Officiis beatae eaque sunt animi.
                        Quo numquam libero sint porro at voluptates voluptate. Delectus esse quam accusamus deleniti suscipit sequi ipsum, saepe alias. Culpa ducimus voluptas, porro deserunt maxime laudantium excepturi harum accusamus. Sed, numquam.
                        Quisquam iste voluptates quos vel quam, quidem suscipit accusamus blanditiis similique omnis recusandae, maxime assumenda! Error hic obcaecati nam accusamus vero perspiciatis rem quas natus reprehenderit eaque. Incidunt, saepe quaerat?
                        Recusandae cupiditate mollitia deserunt quos veniam, assumenda facilis nobis labore atque enim totam quas dicta amet consequuntur, laboriosam reprehenderit eveniet provident quidem perferendis aliquid? At ea fugit sed eligendi nobis?
                        Veniam incidunt quibusdam obcaecati, non debitis libero quos illo doloribus fugit nulla ipsam dolores, deserunt facere sit ex perspiciatis dolore alias similique voluptate cum sed nihil. Aperiam labore rem ullam?
                        Exercitationem soluta quae, ratione ad facere aliquid magni omnis? Totam autem nihil odio perferendis aliquid, doloremque eos provident quisquam quasi repellendus aut ipsa culpa molestiae unde officiis alias earum eaque?
                        Facere laudantium doloremque numquam facilis alias autem iusto porro, odio quas voluptate unde magnam deserunt architecto eveniet sapiente nostrum veritatis quos nam dolorum accusantium! Saepe nam nobis at quia officiis!
                        Atque excepturi quidem est. Porro harum illum quibusdam unde omnis, ut dolor animi praesentium aut reiciendis corporis. Eveniet vel animi aliquid libero tenetur cumque temporibus earum perspiciatis! Dolore, rerum aliquid.
                        Ut nobis ullam nesciunt doloremque, corrupti iusto omnis odio laboriosam dolorem similique vel reprehenderit quidem incidunt velit ad quasi? Nulla nisi dicta accusamus in assumenda voluptate cupiditate molestias repellendus officia.
                        Ratione sed quidem aspernatur fuga adipisci distinctio autem ex! Cum aliquid possimus voluptate nobis itaque modi, adipisci soluta voluptas repellendus nulla cupiditate veritatis corrupti reprehenderit perspiciatis totam odit numquam! Inventore?
                        Debitis nam optio dicta numquam odio inventore labore deserunt modi vel, ipsam perspiciatis ullam, ex fugiat accusamus accusantium aliquid culpa nisi, tempora quasi distinctio quidem architecto impedit cumque nobis. Aspernatur.
                        Delectus nisi dolor quos, pariatur amet aspernatur dignissimos blanditiis et consectetur vitae dolore id, sit ea repudiandae esse, eveniet ipsa quisquam similique? Sapiente veritatis ea dolor facere perferendis omnis molestias?
                        Possimus provident eligendi atque ipsa nemo aut facere laborum ex delectus quia consequuntur illum eius esse eum ipsam eaque minus sed architecto harum totam ullam, quibusdam illo doloremque qui. Voluptas!
                        Quibusdam asperiores optio sapiente odio incidunt ut laboriosam inventore eveniet accusantium dicta earum ex, voluptas fugiat sit officia adipisci? Amet praesentium tempora vero itaque asperiores dolore. Debitis quos hic magni.
                        Aspernatur exercitationem laudantium aut. Explicabo iure voluptas est obcaecati optio sit dolor quam laboriosam assumenda saepe culpa nemo odit aliquam eos tempore ea laudantium quibusdam recusandae quas, mollitia nihil reprehenderit.
                   
                    </p>      
                    <ul class="info">
                      <li><i class="fa fa-user me-1"></i>Total Population 67.41</li>
                      <li><i class="fa fa-globe"></i> 551.500 km2</li>
                      <li><i class="fa fa-flag me-1"></i>525</li>
                     
                    </ul>

                     </div>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37567047.15420988!2d-136.71185458332!3d54.92204102090031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b30b71698e729d%3A0x131328839761a382!2sKuzey%20Amerika!5e0!3m2!1str!2str!4v1683986801100!5m2!1str!2str" width="600" height="260" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>
                </div>
               
          </div> -->
          {% for i  in page_obj %}
          <div class="contents mt-5 p-5  "  >
            <div class="row ">            
              <div class="col-md-3 ">
                <div class="image-contents ">
                  <img src="{{ i.img.url }}"  height="250" alt="">
                 </div>
                </div>
                <div class="col-md-6 const  ">
                  <div class="row">
                    <div class="col-md-12     ">
                     <div class="contess justify-content-between  ">
                       <h3 class="mt-3 " >{{ i.header }}</h3>
                       <div class="main-button mt-2 ">
                         <a  href="{% url 'detail' i.id  %}">Explore More</a>
                       </div>                      
                    </div>
                    <p class="mt-1  myParagraphs " >                     
                        {{ i.text }}
                    </p>      
                    <ul class="info">
                      <li><i class="fa fa-user me-1"></i>Total Population: {{ i.population }} </li>
                      <li><i class="fa fa-globe"></i> {{ i.area }}</li>
                      <li><i class="fa fa-flag me-1"></i> {{ i.countries_total }} </li>
                    </ul>
                     </div>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="map">
                     {{ i.video|safe }}  </div>
                  </div>
                </div>              
          </div>
          {% endfor %}
      </div>
  </div>
</section>
<div class="visit-country mt-5 pt-5">
  <div class="row">
    <div class="col-lg-12">
      <ul class="page-numbers">
       
        <li><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"><i class="fa fa-arrow-left"></i></a></li>
        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
           
            <li class="page-item active "><a href="?page={{ num }}" class=" "  >{{ num }}</a></li>
        {% else %}
         
            <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}
        <li><a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"><i class="fa fa-arrow-right "></i></a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Scrollable modal -->

<!-- <div class="loginpage">
  <div class="loginleft"></div>
  <div class="loginright"></div>
</div> -->

{% endblock body %}
{% block js %}
  <script>
    $(document).ready(function() {
      var paragraph = $(".myParagraphs");
      var maxLength = 200; // Kısaltmak istediğiniz maksimum karakter sayısı   
      if (paragraph.text().length > maxLength) {
        var truncatedText = paragraph.text().slice(0, maxLength) + "...........";
        paragraph.text(truncatedText);
      }
    });
  </script>
{% endblock js %}

   